<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Past Chat</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
</head>
<body>
    <div class="container">
        <div class="nav-links">
            <h1></h1>
            <h1><a href='/'>Past Chat</a></h1>
            <h1><a href='/add_person'>Додати історичну персону</a></h1>
        </div>
        <input type="text" class="search-bar" placeholder="Пошук">
    </div>
    {% block main %}
    {% endblock main %}
    <footer>
        <div class="footer-content">
            <p>© 2025 PastChat | Усі права захищені</p>
            <div class="social-links">
                <a href="#">Facebook</a>
                <a href="#">Instagram</a>
                <a href="#">Twitter</a>
                <a href="#">YouTube</a>
            </div>
        </div>
    </footer>
</body>
</html>